  <div class="footer">
    <div class="time">Last cache created on <%= `${new Date().getFullYear()}/${(new Date().getMonth()) + 1}/${new Date().getDate()}` %> by Github API v3.</div>
    Created by <a href="https://www.elec-creator.com" target="_blank">Malloy Yuan</a>.
  </div>
</body>
</html>